@use './variables' as *;

.header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: 40px auto 30px auto;
  padding: 0 40px;
  height: 68px;

  .header-logo {
    height: 68px;
    width: auto;
    transition: width 0.2s;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 40px;

    .nav-link {
      color: $primary;
      font-size: 24px;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      transition: color 0.2s;

      &:hover,
      &.active {
        color: #000;
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 1024px) {
    max-width: 95vw;
    padding: 24px 0 18px 0;

    .header-logo {
      width: 150px;
      height: auto;
    }

    nav {
      gap: 20px;

      .nav-link {
        font-size: 1.1rem;
      }
    }
  }

  @media (max-width: 600px) {
    flex-direction: row;
    align-items: center;
    padding: 16px 0 10px 0;
    height: auto;

    .header-logo {
      width: 110px;
      height: auto;
      margin-bottom: 0;
    }

    nav {
      flex-direction: row;
      gap: 10px;
      align-items: center;
      width: auto;

      .nav-link {
        font-size: 1rem;
        padding: 0;
      }
    }
  }
}