@use './variables' as *;
@use './header';
@use './banner';
@use './card';
@use './footer';
@use './home';
@use './about';

// RESET & BODY
body {
  font-family: 'Montserrat', sans-serif;
  background-color: $background;
  color: $text;
  margin: 0;
}