.rating {
  display: flex;
  align-items: center;
}

.star {
  font-size: 1.5rem;
  color: #e3e3e3;
  margin-right: 4px;
  user-select: none;
  transition: color 0.2s;
}
.star:last-child { margin-right: 0; }
.star.active { color: #FF6060; }

@media (max-width: 600px) {
  .star { font-size: 1.2rem; margin-right: 3px; }
}